<!DOCTYPE html>
<html ng-app ="proLoop">
<head>
    <meta charset="UTF-8">
    <title>PROLOOPS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/css/style.css' />
    <link rel='stylesheet' href='/stylesheets/css/bootstrap.min.css' />
    <script src="/javascripts/angular.min.js"></script>

</head>
<body class="bgbody" ng-controller="loginController">
<div class="container-fluid con">
    <div class="row">
    </div>
    <div class="row ">
        <div class="col-xs-4"></div>
        <form class="col-md-4 col-sm-4 borders centerdiv loginbg" action="/users" role="form" method="POST">
            <h1 class="text-center"><strong><span class="pro">PRO</span>LOOPS</strong></h1>
            <table>
                <tr>
                    <td class="input-group" >
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                        <input class="form-control input-lg" id="inputdefault email" type="email" name="idmail" value="
							" placeholder="Email address" required>
                    </td>
                </tr>
                <tr>
                    <td class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        <input class="form-control input-lg" id="inputdefault" type="password" name="pass" value="" placeholder="Password" required>
                    </td>
                </tr>
            </table>
            <center><button type="submit" class="btn btn-primary form-control">Sign In</button></center>
            <p class="reg-option"><span class="line-wrapper"><span class="line"></span></span><span class="content"><span>or</span></span></p>
            <center><button type="button" class="btn btn-primary form-control">Signin with Facebook</button></center>
            <% if (choice==1){ %>
            <center><a class="cursor"data-toggle="modal" data-target="#myModal1">Forgot password?  </a>|<a class="cursor"data-toggle="modal" data-target="#myModal"> Register</a></center>
            <%}else {%>
            <center><a class="cursor"data-toggle="modal" data-target="#myModal1">Forgot password?  </a>|<a class="cursor"data-toggle="modal" data-target="#regModal">Register</a></center>
            <% }%>
            <% if(message=="Email and password did not match"){%>
            <br>
            <p class="text-center text-danger warningmes"><%= message %></p>
            <% }%>
        </form>
    </div>
    <div class="row">
        <!-- Modal -->
        <% if(choice==1){%>
        <div class="modal fade" id="myModal" role="dialog">
        <% }else{ %>
        <div class="modal fade" id="regModal" role="dialog">
        <%}%>
            <div class="modal-dialog">

                <!-- Modal content-->
                <div id="long" class="modal-content centered">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" ng-click="refresh()">&times;</button>
                        <h4 class="modal-title">Register</h4>
                    </div>
                    <div class="modal-body">
                            <table>
                                <tr>
                                    <td ><input class="form-control form-group" id="inputdefault" type="text" name="firstname" ng-model="User.firstname" value="<%=firstname %>" placeholder="First Name" required></td>

                                </tr>
                                <tr>
                                    <td ><input class="form-control form-group" id="inputdefault" type="text" name="lastname"  ng-model="User.lastname"  value="<%=lastname %>" placeholder="Last Name" required></td>
                                </tr>
                                <tr>
                                    <td ><input class="form-control form-group" id="inputdefault" type="email" name="email" ng-model="User.email" value="<%=email %>" placeholder="Email" required></td>
                                </tr>
                                <tr>
                                    <td ><input class="form-control form-group" id="inputdefault" type="password" name="password" ng-model="User.password" value="" placeholder="Password" required></td>
                                </tr>
                                <tr>
                                    <td ><input class="form-control form-group" id="inputdefault" type="password" name="confpassword" ng-model="confirmpass" value="" placeholder="Confirm Password"  trim|required|matches[password]></td>
                                </tr>
                            </table>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button name="btnRegister" class="btn btn-info" ng-click="addUser()">Register</button>
                                <br>
                                <br>
                                <p class="text-center text-danger warningmes">{{message}}</p>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal1" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div id="long" class="modal-content centered">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h1 class="modal-title"><strong><span class="pro">PRO</span>LOOPS</strong></h1>
                    </div>
                    <div class="modal-body">
                        <form class="" role="form" method="POST">
                            <table>
                                <tr>
                                    <td><h2><center>Change your password</center></h2></td>
                                </tr>
                                <tr>
                                    <td><h3><center>Let’s find your account</center></h3></td>
                                </tr>
                                <tr>
                                    <td class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                        <input class="form-control form-group input-lg" id="inputdefault" type="email" name="email" value="" placeholder="Email address" required>
                                    </td>
                                </tr>
                            </table>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="refresh()">Close</button>
                                <button type="submit" name="btnRegister" class="btn btn-info " data-toggle="modal" data-target="#myModal2">Continue</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script src="/javascripts/jquery-2.1.4.min.js"></script>
        <script src="/javascripts/bootstrap.min.js"></script>
        <script src="/javascripts/custom.js"></script>
        <script src="/controllers/controller.js"></script>
</body>
</html>