<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PROLOOPS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/css/style.css' />
    <link rel='stylesheet' href='/stylesheets/css/bootstrap.min.css' />
</head>
<body class="bgbody">
        <div class="container-fluid con" ng-controller="AppCtrl">
            <h1></h1>

        </div>
        <script type="text/javascript" src="/javascripts/angular.min.js"></script>
        <script src="/javascripts/jquery-2.1.4.min.js"></script>
        <script src="/javascripts/bootstrap.min.js"></script>
        <script src="/javascripts/controller.js"></script>
</body>
</html>