.navbar-default {
    background-image: -webkit-linear-gradient(top, #2672ae 0%,#1e4f7e 100%) !important;
    background-color: #f8f8f8 !important;
    border-color: #1e4f7e !important;
}

.navbar {
    border-radius: 0px!important;
}

.navbar-default .navbar-nav>li>a {
    color: #fff !important;
}


.navbar-default .navbar-brand {
    color: #fff !important;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #00A7F9 !important;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #00A7F9 !important;
    background-color: #e7e7e7 !important;
}

.navbar-form .form-control {
    display: inline-block;
    width: 370px !important;
    vertical-align: middle;
}

.navbar-right {
    position: relative;
    right: 130px !important;
}

@media(max-width: 1198px){
    .navbar-right {
        position: relative;
        right: 0 !important;
    }
}

.navbar-right {
    position: relative;
    right: 130px !important;
}

@media(max-width: 991px){
    .navbar-form .form-control {
        width: auto !important;
    }
}

@media(max-width: 767px){
    .navbar-left{
        display: none !important;
    }
}

@media (max-width: 767px){
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #fff !important;
    }
}
@media (max-width: 767px){
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
        color: #00A7F9 !important;
    }
}

.bg {
    background-color: #fff !important;
    padding: 15px;
    border-radius: 2px;
}

.bbg {
    background-color: #DFF0DA !important;
}

.op{
    position: relative;
    top: 6px;
}

.div{
    margin-bottom: 10px !important;
}


.gsize {
    font-size: 1.5em !important;
}

.glyphicon {
    position: relative;
    top: 5px !important;
    line-height: 0 !important;
}

.searchbtn {
    position: relative;
    top: 1px !important;
    line-height: 0 !important;
}


.font{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
}

.col2border{
    border: 1px solid #FFFFFF;
    border-right-color: #DFF0DA;
}

.imgicon{
    width: 60px;
    position: relative;
    bottom: 5px;
    left: 25px;
}

/*body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}*/
.navbarpos{
    position: relative;
    left: 1px !important;
}

.iconC{
    color: yellowgreen;
    font-size: 30px !important;
}
.iconC2{
    color: #F79C10;
    font-size: 30px !important;
}

.textC{
    font-size: 18px !important;
    position: relative;
    bottom: 4px;
}

.textC a:focus, a:hover {
    color: #23527c;
    text-decoration: none;
}